*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    }


    html { background-image: url(Images/QuizBackground.png);}

   
    form { outline-color: black; outline-style: dashed;outline-color: rgb(114, 114, 240);}

div { border: 2px dashed aquamarine;
  display: inline-block; 
  padding: 1rem; 
  background-color: #f0fff0;}