*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    }


html { 
    background-image: url(Images/DuckBackground.jpg);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  padding: 1rem;
}

nav p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

border-style: solid; border-color: rgb(247, 213, 127); 

text-decoration: none;
display: inline-flex; }



nav p a:hover {
  text-decoration: underline;
}

 
h1 {font-family: "Ribeye", serif;}

main { background-color: rgb(210, 210, 65);

border-style: groove;}


section { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

border-style: solid;}
 

#Paten {
 border-radius: 0%;       
  width: 400px;
  height: auto;
}



.Patenone { display: flex;
  flex-direction: row;        /* Text left, image right */
  justify-content: space-between;
  align-items: flex=end;
  padding: 20px;
  gap: 20px;
  margin: auto;;}


.Secondpara {
  display: flex;
  flex-direction: row;        /* Text left, image right */
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  margin: auto;
}

.secpara {
  flex: 1;
  max-width: 600px;
}

#Patensec {
  border-radius: 0%;         /* Circular image */
  width: 400px;
  height: auto;
}

/*
.Secondpara {
   display: flex;
  flex-direction: row;       
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;  
  margin: auto;        
}

.secpara {
  flex: 1;
  max-width: 600px;
}

#Patensec {
  border-radius: 50%;
  width: 200px;
  height: auto;
}
*/


 /*#Patensec {
  border-radius: 50%;


  padding: 5px;
  width: 400px;

   display: flex; 
justify-content: flex-end;

  flex-direction: row;
  align-items: flex-end; 
  
}

/*.Patensec { display: flex; 
justify-content: right; 

  flex-direction: roq; /* Stack paragraphs vertically */
 /* Align to the right */

/*.Patenducktwo {
  max-width: 600px;  /* Optional: control paragraph width */
 /* text-align: left; /* Optional: align text itself to the right */
  /*margin-bottom: 16px;

  align-items: left;
}


section { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

border-style: solid;}
 


